<header>
    <h2>Sample Form</h2>
</header>
<form *ngIf="active" (ngSubmit)="onSubmit()" #sampleForm="ngForm">
    <ul>
        <li>
            <label for="firstname">Firstname</label>
            <input type="text" name="firstnme" id="firstname"
                   [(ngModel)]="formModel.firstname"
                   #firstname="ngModel" 
                   required >
            <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                Firstname is required
            </div>                   
        </li>
        <li>
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname"
                    [(ngModel)]="formModel.lastname" >
        </li>        
        <li>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" 
                   [(ngModel)]="formModel.email"
                   #email="ngModel"
                   required >
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>                     
        </li>   
        <li>
            <label for="countryId">Country of Residence</label>
            <select id="countryId" name="countryId" [(ngModel)]="formModel.countryId" required>
                <option>--SELECT COUNTRY--</option>
                <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
            </select>
        </li>         
        <li>
            <button type="submit" [disabled]="!sampleForm.form.valid">Submit</button>
            <button type="button" (click)="resetForm()">Reset</button>
        </li>     
    </ul>
</form>

<h2>Debugger</h2>
{{diagnostic}}
<div>firstname : {{formModel.firstname}}</div>
<div>lastname : {{formModel.lastname}}</div>
<div>email : {{formModel.email}}</div>
<div>selected country id : {{formModel.countryId}}</div>

<h1>Sample ANgular Material</h1>
<md-pagination [model]="countries" name="basic" [items-per-page-options]="[5, 10, 20]"></md-pagination>
<md-data-table layout-fill>
  <thead>
  <tr>
    <th class="md-text-cell">id</th>
    <th>name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let material of pagedMaterials">
    <td class="md-text-cell">{{ material.name }}</td>
    <td>{{ material.quantity }}</td>
  </tr>
  </tbody>
</md-data-table>
<md-pagination [model]="pagination" name="basic" (on-pagination-change)="detectChange($event)" [items-per-page-options]="availableLength"></md-pagination>